{% extends 'base.html' %}

{% block content %}
<h2>{{ picture.title }}</h2>
<h2>By {{picture.artist }}</h2>
<h3> Posted by: {{ picture.user.username }}</h3>


<img src="{{ picture.url }}" alt="{{picture.title }}"/>

<!-- showing the comments below a picture -->

<h3>Comments:</h3>
<ul>
    {% for comment in picture.comments.all %}
    <li>{{ comment.name }} : {{ comment.message }}</li>
    {% endfor %}
</ul>

<form action="{% url 'create_comment' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="picture" value="{{ picture.pk }}"/>
    Name: <br>
    <input type="text" name="name"/><br>
    Comment: <br>
    <input type="text" name="message"/><br>
    <input type="submit" value="Post"/>


</form>

{% endblock %}
